.App {
  text-align: center;
  /*background-image: url(images/back.jpg);*/
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.columnP {
  position: relative;
  float: left;
  width: 33.33%;
}

.rowP {
  margin-top: 5%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  border-radius: 10px;
  width: 66.66%;
  height: 100%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  padding: 10px;
}

.btnP {
  margin: 0 auto;
  width: 50%;
}

.price-bullets {
  align-items: left;
}

.textP {
  margin: 5px;
}

.btnSearch {
  width: 50%;
}

.navbar {
  min-height: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
